body {
    background-color: rgb(148, 131, 14);
}
.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  width: 15rem;
  /* height: 25rem; */
  height: 30rem;
  margin-top: 2rem;
  background-color: rgb(108, 99, 231);
  display: grid;
  row-gap: 3rem;
  justify-items: center;
  align-items: center;
  align-content: center;
  border-radius: 10%;
  color: white;
}
.userName_field
{
    outline: none;
    border: 1px solid blue;
    background-color: rgb(201, 175, 11);
    color: white;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    height: 2rem;

    
}


/* DashBorad Design */

.sec_main
{
  

  background-color: rgb(181, 174, 39);
  width: 70%;
  height: 200%;
  border-radius: 20px;
  display: grid;
  justify-items: center;
  align-content: center;
  row-gap: .5rem;
  margin-top: -5rem;
}
h1
{
  margin-top: -6rem;
}
.btn
{
  margin-top: .1rem;
  width: 90%;
  background-color:rgb(47, 198, 198);
  padding: .4rem;
  border: 2px solid blue;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  

}

.topic_list
{
  border-radius: 10px;
  width: 90%;
  background-color:rgb(47, 198, 198);
}